:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-color-custom-accent1: #C7B090;
  --dl-color-custom-accent2: #768350;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-custom-primary1: #35452B;
  --dl-color-custom-primary2: #727D6B;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-custom-secondary1: #E9E7DE;
  --dl-color-custom-neutral-dark: #1E2203;
  --dl-color-custom-neutral-light: #FBF9EF;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.buttonFilled {
  color: var(--dl-color-custom-neutral-light);
  transition: 0.3s;
  font-family: Cabin;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 48px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary1);
}
.buttonFilled:hover {
  background-color: var(--dl-color-custom-primary2);
}
.buttonFilledSecondary {
  color: var(--dl-color-custom-neutral-light);
  transition: 0.3s;
  font-family: Cabin;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary1);
}
.buttonFilledSecondary:hover {
  background-color: var(--dl-color-custom-primary2);
}
.buttonOutline {
  color: var(--dl-color-custom-primary1);
  border: 1px solid;
  font-family: Cabin;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-custom-primary1);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 48px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.buttonOutline:hover {
  color: var(--dl-color-custom-accent2);
  background-color: #EEF0E9;
}
.buttonFlat {
  color: var(--dl-color-custom-neutral-dark);
  font-family: Cabin;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.buttonFlat:hover {
  color: var(--dl-color-custom-primary2);
}
.featuresContainer {
  flex: 0 0 auto;
  color: var(--dl-color-custom-neutral-light);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-custom-accent2);
}
.featuresCard {
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-secondary1);
}
.featuresIcon {
  fill: var(--dl-color-custom-neutral-dark);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.freePricingCard {
  gap: var(--dl-space-space-twounits);
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  align-items: flex-start;
  border-radius: 32px;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.basicPricingCard {
  gap: var(--dl-space-space-twounits);
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  align-items: flex-start;
  border-radius: 32px;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.proPricingCard {
  gap: var(--dl-space-space-twounits);
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  align-items: flex-start;
  border-radius: 32px;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.faqContainer {
  flex: 0 0 auto;
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-custom-accent1);
}
.navbarContainer {
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  position: sticky;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-light);
}
.mobileMenu {
  color: var(--dl-color-custom-neutral-dark);
  background-color: var(--dl-color-custom-neutral-light);
}
.heroContainer {
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: var(--dl-color-custom-neutral-light);
}
.pricingContainer {
  gap: var(--dl-space-space-twounits);
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-custom-neutral-light);
}
.bannerContainer {
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-light);
}
.footerContainer {
  color: var(--dl-color-custom-neutral-dark);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-custom-neutral-light);
}
.socialIcons {
  fill: var(--dl-color-custom-neutral-dark);
}

.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.heading2 {
  font-size: 35px;
  font-family: Cabin;
  font-weight: 600;
  line-height: 150%;
}
.bodySmall {
  font-size: 16px;
  font-family: Cabin;
  font-weight: 400;
  line-height: 150%;
}
.bodyLarge {
  font-size: 18px;
  font-family: Cabin;
  font-weight: 400;
  line-height: 150%;
}
.heading3 {
  font-size: 20px;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: 150%;
}
.overline {
  font-size: 12px;
  font-family: Cabin;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.heading1 {
  font-size: 48px;
  text-align: center;
  font-family: Cabin;
  font-weight: 700;
  line-height: 150%;
}
.logo {
  font-size: 2em;
  font-family: Cabin;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
/* ===== Buttons Css ===== */
.contact-form .single-form .input-form .primary-btn {
  background: var(--primary);
  color: var(--white);
  box-shadow: var(--shadow-2);
}
.contact-form .single-form .input-form .active.primary-btn, .contact-form .single-form .input-form .primary-btn:hover, .contact-form .single-form .input-form .primary-btn:focus {
  background: var(--primary-dark);
  color: var(--white);
  box-shadow: var(--shadow-4);
}
.contact-form .single-form .input-form .deactive.primary-btn {
  background: var(--gray-4);
  color: var(--dark-3);
  pointer-events: none;
}

/*===========================
    contact-01 css 
===========================*/
.contact-area {
  padding-top: 50px;
  padding-bottom: 100px;
}
.contact-area .mt-15 {
  margin-top: 15px;
}
.contact-area .section-title .title {
  font-size: 28px;
  font-weight: 600;
  line-height: 55px;
}
@media (max-width: 767px) {
  .contact-area .section-title .title {
    font-size: 24px;
    line-height: 35px;
  }
}

.contact-form .single-form label {
  font-size: 12px;
  color: var(--dark-2);
  line-height: 18px;
  margin-left: 44px;
}
.contact-form .single-form .input-form {
  position: relative;
}
.contact-form .single-form .input-form i {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--dark-3);
}
.contact-form .single-form .input-form textarea, .contact-form .single-form .input-form input {
  width: 100%;
  height: 44px;
  padding-left: 45px;
  padding-right: 30px;
  color: var(--dark-3);
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid var(--gray-4);
  font-weight: 500;
}
.contact-form .single-form .input-form textarea::placeholder, .contact-form .single-form .input-form input::placeholder {
  opacity: 1;
  color: var(--dark-3);
}
.contact-form .single-form .input-form textarea {
  padding-top: 10px;
}
.form-input .help-block {
  margin-top: 2px;
}
.form-input .help-block .list-unstyled li {
  font-size: 12px;
  line-height: 16px;
  color: var(--error);
}
.form-input label {
  font-size: 12px;
  line-height: 18px;
  color: var(--dark-3);
  margin-bottom: 8px;
  display: inline-block;
}
.form-input .input-items {
  position: relative;
}
.form-input .input-items input, .form-input .input-items textarea {
  width: 100%;
  height: 44px;
  border: 2px solid;
  padding-left: 44px;
  padding-right: 12px;
  position: relative;
  font-size: 16px;
}
.form-input .input-items textarea {
  padding-top: 8px;
  height: 130px;
  resize: none;
}
.form-input .input-items i {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 20px;
  z-index: 9;
}
.form-input .input-items.default input, .form-input .input-items.default textarea {
  border-color: var(--gray-4);
  color: var(--dark-3);
}
.form-input .input-items.default input:focus, .form-input .input-items.default textarea:focus {
  border-color: var(--primary);
}
.form-input .input-items.default input::placeholder, .form-input .input-items.default textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.form-input .input-items.default i {
  color: var(--dark-3);
}
.form-input .input-items.active input, .form-input .input-items.active textarea {
  border-color: var(--primary-dark);
  color: var(--black);
}
.form-input .input-items.active input::placeholder, .form-input .input-items.active textarea::placeholder {
  color: var(--black);
  opacity: 1;
}
.form-input .input-items.active i {
  color: var(--primary-dark);
}
.form-input .input-items.error input, .form-input .input-items.error textarea {
  border-color: var(--error);
  color: var(--error);
}
.form-input .input-items.error input::placeholder, .form-input .input-items.error textarea::placeholder {
  color: var(--error);
  opacity: 1;
}
.form-input .input-items.error i {
  color: var(--error);
}
.form-input .input-items.success input, .form-input .input-items.success textarea {
  border-color: var(--success);
  color: var(--success);
}
.form-input .input-items.success input::placeholder, .form-input .input-items.success textarea::placeholder {
  color: var(--success);
  opacity: 1;
}
.form-input .input-items.success i {
  color: var(--success);
}
.form-input .input-items.disabled input, .form-input .input-items.disabled textarea {
  border-color: var(--dark-2);
  color: var(--dark-3);
  background: none;
}
.form-input .input-items.disabled input::placeholder, .form-input .input-items.disabled textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.form-input .input-items.disabled i {
  color: var(--dark-3);
}

.form-style-four .form-input label {
  padding-left: 44px;
  margin-bottom: 0;
}
.form-style-four .form-input .input-items input, .form-style-four .form-input .input-items textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.contact-info ul li .single-info {
  position: relative;
  margin-top: 19px;
}
.contact-info ul li .single-info .info-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-info ul li .single-info .info-icon i {
  color: var(--dark-3);
  font-size: 18px;
  line-height: 24px;
}
.contact-info ul li .single-info .info-content {
  padding-left: 30px;
}
.contact-info ul li .single-info .info-content .text {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
  font-weight: 500;
}
.contact-info .social li {
  display: inline-block;
  margin-right: 12px;
}
.contact-info .social li a {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.096);
  text-align: center;
  border-radius: 5px;
  color: var(--dark-3);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.contact-info .social li a:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: transparent;
}